<!DOCTYPE html>
<html>
<head>
    <title>Posts Feed</title>
</head>
<body>
    <h1>Posts Feed</h1>
    {% for post in posts %}
        <div style="border:1px solid #ccc; margin:1em 0; padding:1em;">
            <h2>{{ post['title'] }}</h2>
            <div>{{ post['content']|safe }}</div>
            {% if post['image_filename'] %}
                <div>
                    <img src="{{ url_for('uploaded_file', filename=post['image_filename']) }}" alt="Post Image" style="max-width:300px;">
                </div>
            {% endif %}
            {% if post['video_filename'] %}
                <div>
                    <video controls style="max-width:400px;">
                        <source src="{{ url_for('uploaded_file', filename=post['video_filename']) }}">
                        Your browser does not support the video tag.
                    </video>
                </div>
            {% endif %}
            <div><em>Posted {{ post['created'] }}</em></div>
        </div>
    {% endfor %}
</body>
</html>